body
{
	background-color: white;
	background-image: url(gambar/gradasi_biru.jpg);
	background-repeat: repeat-x;
}
h1
{
	font-family: Times New Roman, Serif;
	font-size: 30px;
	text-align: center;
}
.container
{
	width: 800px;
	margin: auto;
	margin-top: 30px;
	padding: 15px;
	background-color: #ddffff;
}
.header
{
	border-bottom: 20px solid #3141ff;
	display: block;
}
.isi
{
	margin: auto;
	margin-top: 50px;
	margin-bottom: 100px;
}
.footer
{
	background-color: #3141ff;
	padding: 1px 0px;
	margin-top: 50px;
}
.footer p
{

	text-align: center;
	font-size: 18px;
	color: white;
}
label
{
	display: block;
	margin-bottom: 10px;
	font-size: 24px;
}
input
{
	display: block;
	margin-bottom: 20px;
	height: 24px;
	width: 300px;
}
button
{
	display: block;
	font-size: 14px;
}
form
{
	margin-top: 50px;
	padding-left: 250px; 
	padding-bottom: 20px;
}
h3
{
	display: block;
	margin: auto;
	text-align: center;
}
.kanan
{
	float: right;
	padding-right: 30px;
}
.kiri
{
	float: left;
	padding-left: 30px;
}
a:link {
  	color: black;
}
a:visited {
  	color: blue;
}
a:hover {
  	color: hotpink;
}
a:active {
  	color: black;
}